rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /npcs/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /missionsEvents/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /scenarios/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /badges/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
  }
}
